<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Welcome to Books Application <%= @user.username %></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Logout", logout_path %></li>
        </ul>
      </div>

    </div>
  </div>
</div>


  <div class="container">
    <div class="row">
      <div class="span7">
      <br /><br /> 
      <table class = "display" align="left" id="books">
    <thead>
      <tr>
        <th>Title</th>
        <th>Pages</th>
       </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
          <tr class = "telements">
            <td class="rows"><%= link_to(book.title, book) %></td>
            <td class="rows"><%= book.pages %></td>
          </tr>
        <% end %>
    </tbody>
</table>

      </div>
      <div class="span5">
      <h1>Suggestions for you </h1>
      <table class = "display" align="left" id="recommend">
    <thead>
      <tr>
        <th>Title</th>
       </tr>
    </thead>
    <tbody>
        <% @res.each do |book| %>
          <tr class = "telements">
            <td class="rows"><%= link_to(book.title, book) %></td>
          </tr>
        <% end %>
    </tbody>
</table>
      </div>
    </div>
  </div>

