<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Welcome to Books Application</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Logout", logout_path %></li>
          <li><%= link_to 'Like It??', edit_book_path(@book) %></li>
          <li><%= link_to 'Back', books_path %></li>
        </ul>
      </div>

    </div>
  </div>
</div>
<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Isbn 10:</b>
  <%= @book.ISBN_10 %>
</p>

<p>
  <b>Authors:</b>
  <%= @book.authors %>
</p>

<p>
  <b>Pages:</b>
  <%= @book.pages %>
</p>

<p>
  <b>Weight:</b>
  <%= @book.weight %>
</p>

