<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Welcome to Books Application</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Logout", logout_path %></li>
          <li><%= link_to 'Like It??', edit_book_path(@book) %></li>
          <li><%= link_to 'Home', books_path %></li>
        </ul>
      </div>

    </div>
  </div>
</div>



<div class="container">
    <div class="row">
      <div class="span8">
      <br /><br /> 
<h3>
  <b>Title:</b>
  <%= @book.title %>
</h3>

<h3>
  <b>Isbn 10:</b>
  <%= @book.ISBN_10 %>
</h3>

<h3>
  <b>Authors:</b>
  <%= @book.authors %>
</h3>

<h3>
  <b>Pages:</b>
  <%= @book.pages %>
</h3>

<h3>
  <b>Weight:</b>
  <%= @book.weight %>
</h3>

      </div>
      <div class="span4">
      <% @ar.each do |s| %>
        <h1><%= s.username %>
        </h1>
      <% end %>
      <% if @ar.size == 0  %>
        <h3><%= "No one has" %></h3>
      <% end %>
      <h3>liked this book...</h3>
      
      </div>
    </div>
  </div>






